/* ------------------------------------------------------- */
/* ---- branding ----------------------------------------- */
$color-brand1: #555;
$color-bg1: #f9f9f9;
$font-family1: Verdana, Helvetica;
$font-size1: 15px;
$font-color1: #333;

/* ------------------------------------------------------- */
/* ---- basic colors ------------------------------------- */
$blue: #0070ff;
$red: #ef001f;

$width-max: 1200px;
$width-menu: 260px;

html body, body h1, body h2, h3, h4, p, ul, ol, input {
    margin: 0;
    padding: 0;
    font-family: $font-family1;
    font-size: $font-size1;
    color: $font-color1;
}

h3 {
    margin-top: 25px;
}

ol, ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.cf:before, .cf:after {
    display: block;
    content: '';
    clear: both;
}

a {
    color: $color-brand1;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    color: $color-brand1;
}

.fit {
    max-width: $width-max;
    margin: 0 auto;
}

.main-header {
    background-color: darken($color-bg1, 2%);
    padding: 30px 0;

    h1 {
        float: left;
    }

    .btn-config {
        font-size: $font-size1 + 1;
        font-weight: 700;
        float: right;
    }

    .nav-config {
        display: none;
        position: absolute;
        z-index: 10;
        border: 2px solid #999;
        border-radius: 5px;
        background-color: #eee;
        padding: 10px;
        opacity: 0.7;
        margin-left: -64px;

        li {
            display: block;
            opacity: 1;

            a {
                color: #111;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.menu h2, .main-container h2 {
    font-size: $font-size1 + 4;
}

.main-container h3 {
    font-size: $font-size1 + 2;
}

.main-container h2, .main-container h3 {
    margin-bottom: 10px;
}


/* -------------------------------------------------------- */
/* ---- Column -------------------------------------------- */
.menu {
    height: auto;
    width: $width-menu;
    float: left;
    background-color: $color-bg1;
    padding: 2% 0;
    li {
        margin: 2%;
    }
    a {
        display: block;
        padding: 1%;
    }
}

/* -------------------------------------------------------- */
/* ---- Content ------------------------------------------- */
.content-wrapper {
    width: $width-max - $width-menu;
    padding: 2%;
    float: left;
}

/* -------------------------------------------------------- */
/* ---- Content ------------------------------------------- */
.console {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 52px;

    button, a {
        margin: 0 10px 0;
    }

    .console-toggle {
        display: inline;
    }

    .search {
        float: right;
        border-left: 1px dotted #aaa;
        padding-left: 10px;
    }

    .form-field {
        display: inline;
    }
}

table {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;

    a, a .fa {
        color: #2f6beb;
    }

    a:hover {
        text-decoration: underline;
    }
}

table thead {
    font-size: $font-size1;
    font-weight: bold;
    text-align: left;
}

thead > tr > th, thead > tr > td {
    border-bottom-width: 2px;
}

table th, table tr, table td {
    line-height: 1.42857;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Colorbox preview icon */
table td .icon img, table td .icon span {
    display: block;
    margin: 0 auto;
    width: 20px;
}

table td {
    li {
        line-height: 1;
        padding-bottom: 20px;
    }
    li:last-child {
        padding-bottom: 0;
    }
}

table td .icon span {
    font-size: $font-size1 + 4px;
}

table td .status {
    color: #0179ff;
    margin-left: 10px;
}

.editor-field {
    width: 85%;
    padding: 20px;
    margin-left: 47px;
}

.form-field input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: $font-size1 - 1;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-field-radio {
    padding: 20px 0;
    border-bottom: 1px dotted #777;
    border-collapse: collapse;

    h3 {
        margin: 0;
    }
}

.form-h .form-field-radio label {
    padding: 0 15px;
}

.form-field input[type="radio"] {
    width: auto;
    vertical-align: middle;
}

.input-submit {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: $font-size1 - 1;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

input {
    background-color: white;
    color: #333;
}

.input-submit {
    background-color: white;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #f4f4f4;
}

.form-field input:focus {
    border-color: #a7a7a7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(167, 167, 167, 0.60);
}

.input-submit:focus {
    border-color: #a7a7a7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(167, 167, 167, 0.60);
}

.btn-green {
    background-color: #00a756;
    color: white;
}

.btn-green:hover {
    background-color: #00c368;
}

.btn-blue {
    background-color: $blue;
    color: white;
}

.btn-blue:hover {
    background-color: #07a6ff;
}

.btn-red {
    background-color: $red;
    color: white;
}

.btn-red:hover {
    background-color: #ff4d66;
}

.form-field {
    margin: 10px 0;
}

.form-h {
    label {
        color: #555;
        text-align: right;
        width: 16.33333%;
        float: left;
        padding: 5px 15px 0;
        display: inline-block;
        font-weight: 700;
    }

    .input-field {
        width: 73.33333%;
        display: inline;
    }

    .input-date, .input-time {
        display: inline-block;
        width: 170px;
    }

    input {
        width: 50%;
    }

    .input-submit {
        width: 10%;
        margin-left: 16.33333%;
        margin-top: 10px;
    }

    h3 {
        color: #555;
    }

    p {
        color: #555;
        font-variant: small-caps;
        font-size: $font-size1 + 1;
    }

    .form-h-check {
        border-top: 1px dotted #777;
        border-bottom: 1px dotted #777;
        border-collapse: collapse;
        padding: 20px 0;

        h3 {
            margin: 0;
        }

        input, label {
            float: none;
        }

        label {
            font-weight: normal;
            font-size: $font-size1 + 1;
            width: 20%;
        }

        input {
            width: auto;
            vertical-align: middle;
        }

        li {
            line-height: 30px;
        }
    }


}

.btn-edit {
    color: #0070ff;
}

.btn-delete {
    color: #f00;
}

.form-in-table {
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------- */
/* ---- Toggle Button --------------------------------------*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Ativo";
    padding-left: 10px;
    background-color: #2F6BEB; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Inativo";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* -------------------------------------------------------- */
/* ---- Confirm Delete ------------------------------------ */
.confirm-delete {
    h3 {
        font-size: $font-size1 + 3;
        margin-top: 3px;
        color: #555;
    }

    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;

    form {
        display: inline-block;

        input {
            font-size: $font-size1 + 1;
            color: #ff0000;
        }

        margin-right: 30px;
    }

    a {
        color: #006fff;
        font-size: $font-size1 + 1;
    }
}

/* -------------------------------------------------------- */
/* ---- Footer -------------------------------------------- */
.main-footer {
    padding: 3% 0;
    background-color: darken($color-bg1, 2%);
}

/* -------------------------------------------------------- */
/* ---- Pagination ---------------------------------------- */
.pagination {
    margin: 10px 0 0 0;
}

.pagination-num, .pagination-prev-next {
    display: inline-block;
    padding: 10px;
    background: #ddd;
    margin: 5px;
}

.pagination-num:not(.pagination-current-page), .pagination-prev-next:not(.pagination-disabled) {
    -webkit-box-shadow: 1px 1px 3px 0 #aaa;
    -moz-box-shadow:    1px 1px 3px 0 #aaa;
    box-shadow:         1px 1px 3px 0 #aaa;
}

.pagination-num:hover:not(.pagination-current-page), .pagination-prev-next:hover:not(.pagination-disabled), .pagination-current-page {
    -webkit-box-shadow: 0 0 5px 0 #aaa inset;
    -moz-box-shadow:    0 0 5px 0 #aaa inset;
    box-shadow:         0 0 5px 0 #aaa inset;
    margin: 4px;
    padding: 11px;
    background: #eee;
}

.pagination-disabled {
    padding: 11px;
    margin: 4px;
    color: #999;
}

.pagination-disabled:hover {
    cursor: default;
}

/* -------------------------------------------------------- */
/* ---- Flash Messages ------------------------------------ */
.flash {
    width: 100%;
    padding: 10px;
    margin: 25px 0 30px;
    font-size: $font-size1 + 2;
    border-radius: 3px;
    border: 1px solid;

    li {
        font-size: $font-size1 + 2;
    }
}

.err-msg {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;

    li {
        display: block;
        color: #f00;
        margin: 5px 0;

        ul {
            list-style: disc inside;

            li {
                display: list-item;
                margin-left: 20px;
            }
        }
    }
}

.success-msg {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;
}

/* -------------------------------------------------------- */
/* ---- Config -------------------------------------------- */
.config-options {
    ul li:first-child {
        margin-top: 20px;
        border-top: 1px solid #333;
    }

    li {
        border-bottom: 1px solid #333;
    }

    a {
        font-size: $font-size1 + 3;
        display: block;
        padding: 10px 5px;
    }

    a:hover {
        background-color: #eee;
    }
}

/* -------------------------------------------------------- */
/* ---- Go Back Link -------------------------------------- */
div.go-back {
    display: block;
    text-align: left;
    border-top: 3px outset #ccc;
    margin-top: 20px;
    padding-top: 10px;

    a {
        color: #006fff;
        font-size: $font-size1 + 2;
    }

    a:hover {
        text-decoration: none;
    }
}

a.go-back {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

a.go-back:hover {
    background-color: #ddd;
}

a.go-back::before {
    content: "<< ";
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10000;
}
#overlay img {
    position: absolute;
    top: 70px;
    // This is a technique to center absolutely positioned things.
    left: 50%;
    margin-left: -50px; // spinner1.gif has width of 100px.
}

