table {
    width: 80%;
}

.edit-hover {
    background-color: #a7fcf5;
}

.info {
    font-size: 17px;
}

.video-insert {
    width: 740px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;

    .insert-btn-msg {
        display: block;

        .input-submit {
            margin-top: 10px;
        }

        .msg {
            margin-left: 10px;
            padding: 5px;
            display: none;
        }
    }

    .video-info {
        width: 450px;
        display: inline-block;
        border-radius: 5px;
        margin-right: 10px;
        padding-top: 2px;

        input {
            display: block;
            margin: 5px 2px;
        }

        #insert-position {
            width: 65px;
        }

        #insert-iframe {
            width: 450px;
        }
    }

    .video-preview {
        width: 250px;
        height: 130px;
        display: inline-block;
        border-radius: 5px;
        background-color: #eee;
        position: absolute;

        .preview {
            display: block;
            height: 130px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-top: 55px;
            font-style: italic;
        }
    }
}

.video-item {
    padding: 1%;

    .info {
        display: inline;
        margin-bottom: 15px;

        span {
            padding: 2px;
            background-color: #eee;
            border-radius: 5px;
        }
    }

    .video-preview {
        width: 200px;
        height: 100px;
        display: inline-block;
        border-radius: 5px;
        background-color: #eee;

        .preview {
            font-style: italic;
            text-align: center;
            display: block;
            vertical-align: middle;
            padding-top: 40px;
        }
    }

    .info-title-pos {
        width: 55%;
        margin: 0 30px 0 0;
        float: left;

        .info {
            display: block;
        }

        .title {
            display: inline-block;
        }

        .position {
            display: inline-block;
            width: 50px;
        }
    }

    .remove {
        display: block;
        float: right;
    }

    .iframe {
        height: 70px;
        background-color: #eee;
    }

    input.title {
        width: 300px;
    }

    input.position {
        width: 50px;
    }

    .iframe {
        border-radius: 3px;
    }

    input {
        border-radius: 3px;
        padding: 2px;
        border: 1px solid #ccc;

    }

    textarea.iframe {
        width: 100%;
        min-height: 70px;
        border-radius: 3px;
        background-color: #eee;
        border: 1px solid #aaa;
    }

    .title, .position, .iframe {
        cursor: text;
    }

    .err-msg-tooltip {
        position: absolute;
        text-align: center;
        font-size: 15px;
        height: 20px;
        opacity: 0.8;
    }

    .destroy-confirm {
        font-size: 15px;
        display: block;
        padding: 5px;
        background-color: #fcf8e3;
        border-color: #faebcc;
        border-radius: 5px;
        margin-bottom: 3px;
        color: #8a6d3b;

        a {
            cursor: pointer;
        }
    }
}

.err-msg {
    border-color: #ebccd1;
    border-radius: 3px;
    color: #a94442;
    background-color: #f2dede;
}
